* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

 .titulo {
    display: grid;
    background-image: url(imgs/Portada.webp);
    color: white;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .carrito{
    display: grid;
    background-color: rgba(128, 0, 128, 0.823);
    color: white;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .carrito button {
    justify-self: end;
    align-self: end;
    border-radius: 20px;
    border: none;
    background: rgba(37, 85, 190, 0.533);
    color: white;
    padding: 5px 30px;
  }

h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.producto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.producto h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.producto .precio {
    font-size: 20px;
    font-weight: bold;
    color: #3ac310;
    margin: 10px 0;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Oculto inicialmente */
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.contenido_popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.contenido_popup p{
    text-align: left;
}

.contenido_popup img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.añadir{
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #2daa07;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    padding: 15px;
    background-color: rgb(219, 36, 36);
    color: white;
    border-color: white;
}